{include file="public/header"}
<style>
.layui-btn+.layui-btn {
    margin-left: 3px;
  }
  .layui-nav-bar{
    display: none;
  }
  .layui-btn{
	  background: #35495D;
	  border:1px solid #35495D;
  }
  .layui-btn:hover{
  	  background: #35495D;
  	  border:1px solid #35495D;
  }
  .layui-btn-danger{
	  background: #f7406b;
	  border:1px solid #f7406b;
  }
  .layui-btn-danger:hover{
  	  background: #f7406b;
  	  border:1px solid #f7406b;
  }
  
  .zlayui-btn{
  	  background: #5FA5ED;
  	  border:1px solid #5FA5ED;
  }
  .zlayui-btn:hover{
  	  background: #5FA5ED;
  	  border:1px solid #5FA5ED;
  }
  .layui-laypage .layui-laypage-curr .layui-laypage-em{
	  background: #35495D !important;
	  /* border:1px solid #35495D; */
  }
  /* 5FA5ED */
  /* 1px solid #f7406b */
</style>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
              <div class="layui-card-body">
                <form class="layui-form layui-col-space5" >
        					<div style="height: 30px;line-height: 30px;float: left;">
        						<span style="float: left;"></span>
        						<div class="layui-inline layui-show-xs-block" style="float: left;">
        						      <input type="text" name="username"  placeholder="请输入用户名称" autocomplete="off" class="layui-input">
        						</div>
        					</div>    
                  <div class="layui-inline layui-show-xs-block">
                  <button class="layui-btn"  lay-filter="search" id="serch" lay-submit><i class="layui-icon">&#xe615;</i></button>
                  </div>
                </form>
                </div>
                <div class="layui-card-body ">
                    <script type="text/html" id="toolbarDemo">
                        <div class="layui-btn-container">
                            <button class="layui-btn layui-btn-sm" onclick="xadmin.open('添加用户','add',700,600)">添加用户</button>
                        </div>
                    </script>
                    <table class="layui-hide" id="demo" lay-filter="test"></table>
                    <script type="text/html" id="barDemo">
                        <a class="zlayui-btn layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script>
layui.use(['laydate','form','jquery', 'upload','table'], function(){
    var laydate = layui.laydate;
    var form = layui.form;
    var upload = layui.upload;
    var table = layui.table;

    table.render({
        elem: '#demo'
        ,id:'table'
        ,url: '{:url("User/userlist")}' //数据接口
        ,title: '用户表'
        ,page: true //开启分页
        ,toolbar: '#toolbarDemo' //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
        ,defaultToolbar: false//关闭工具栏右侧
        ,cols: [[ //表头
             {field: 'id', title: 'ID', sort: true, fixed: 'left'}
            ,{field: 'name', title: '账号'}
            ,{fixed: 'right', title: '操作',align:'center', toolbar: '#barDemo'}
        ]]
    });
    form.on('submit(search)', function (data) {
        table.reload('table', {
            where: data.field,
            page: {
                curr: 1
            }
        });
        return false; // 阻止表单提交
    });
    //监听行工具事件
    table.on('tool(test)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
        var data = obj.data //获得当前行数据
            ,layEvent = obj.event; //获得 lay-event 对应的值
        // console.log(data.id);
        // console.log(layEvent);
        if(layEvent === 'edit'){
            layer.open({
                type: 2,
                title: '编辑',
                shadeClose: true,
                shade: 0.8,
                area: ['700px', '600px'],
                content:['{:url("User/edit")}?id='+data.id, 'no']
            });
        }
        if(layEvent === 'savepassword'){
            layer.confirm('真的要重置密码么', function(index){
                $.ajax({
                    type: "POST",
                    url: "{:url('Admin/savepassword')}",
                    data: {id:data.id},
                    dataType: "json",
                    success: function(data){
                        if(data==1)
                        {
                            layer.msg('操作成功,重置密码为：000000', {
                              icon: 1,
                              time: 6000 //2秒关闭（如果不配置，默认是3秒）
                            }, function(){
                             window.location.reload();
                            });   
                        }
                        if(data==2)
                        {
                            layer.msg('删除失败！', {
                                icon: 2,
                                time: 1000 //2秒关闭（如果不配置，默认是3秒）
                            });
                            return false;
                        }
                    }
                });
            });
        }
        if(layEvent === 'del'){
            layer.confirm('真的删除行么', function(index){
                $.ajax({
                    type: "POST",
                    url: "{:url('user/del')}",
                    data: {id:data.id},
                    dataType: "json",
                    success: function(data){
                        if(data.code==0)
                        {
                            layer.msg('没有操作权限', {
                                icon: 2,
                                time: 1000 //2秒关闭（如果不配置，默认是3秒）
                            });
                            return false;
                        }
                        if(data.code==1)
                        {
                            layer.msg('操作成功', {
                              icon: 1,
                              time: 1000 //2秒关闭（如果不配置，默认是3秒）
                            }, function(){
                             window.location.reload();
                            });   
                        }
                        if(data.code==2)
                        {
                            layer.msg('删除失败！', {
                                icon: 2,
                                time: 1000 //2秒关闭（如果不配置，默认是3秒）
                            });
                            return false;
                        }
                    }
                });
            });
        }
    });
});
</script>